* {
  box-sizing: border-box;
  font-family: Gotham Rounded, sans-serif;
  font-weight: bold;
}

body {
  /* makes background fill entire screen */
  padding: 0;
  margin: 0;
  /* first color is the one of the left
  second is the one on the right */
  background: linear-gradient(to right, #2e3192, #1bffff);
}

.calculator-grid {
  display: grid;
  justify-content: center;
  /* align entire content of children in center, not just the items */
  align-content: center;
  /* centers elements vertically */
  min-height: 100vh;
  /* creates 4 columns each 100px wide */
  grid-template-columns: repeat(4, 100px);
  /* at min - 120px tall, at max - dynamically fit */
  grid-template-rows: minmax(120px, auto) repeat(5, 100px);
}

.calculator-grid > button {
  cursor: pointer;
  font-size: 2rem;
  outline: none;
  background-color: rgba(34, 34, 34, 0.75);
  border-radius: 15px;
  height: 75px;
}

.calculator-grid > button:hover {
  background-color: rgba(63, 63, 63, 0.9);
  transform: scale(1.1);
}

.span-two {
  grid-column: span 2;
}

.output {
  /* goes from column 1 to column -1 (the last column) */
  grid-column: 1 / -1;
  background-color: rgba(0, 0, 0, 0.75);
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
  flex-direction: column;
  padding: 10px;
  /* allows line break in the middle of a word */
  word-wrap: break-word;
  word-break: break-all;
  border-radius: 5px;
  margin-bottom: 10px;
}

.output #previous-operand {
  color: rgba(255, 255, 255, 0.6);
  font-size: 1.5rem;
}

.output #current-operand {
  color: white;
  font-size: 2.5rem;
}

input {
  background-color: transparent;
}
